# Documentação do desafio da matéria de Datawarehouse

1) O Desafio consiste em utilizar a base de dados disponibilizada em : https://www.kaggle.com/datasets/vinicius150987/titanic3, para realizar o processo de ETL (Extração, Transformação e Load) com os conhecimentos passados em sala de aula.

2) Os dados provenientes estão em formato .xls, durante o processo são armazenados em .csv e ao final são enviados para um banco relacional em SQLite3.

## Bibliotecas

### As bibliotecas utlizadas são:
- OS: Manipulação de pastas e arquivos.

- OpenDataSets: Biblioteca para baixar datasets provenientes da plataforma Keggle

- ZipFile: Biblioteca para trabalhar com arquivos compactados.

- Pandas: Biblioteca para manipulação de Dataframes, responsável pela maior parte da transformação.

- Numpy: Responsável no auxílio de cálculos númericos e campos NaN

- SQLite3: Banco de dados para armazenar os dados tratados em disco

## Etapas

### Extração
- Para extrair o dataset usamos uma função para baixar o arquivo no diretório atual de trabalho.
> **opendatasets.download("link")**

## Transformação
#### Organização
- Para começar os trablahos de transformação vamos criar 3 pastas de trabalho para organização, separamo-os em **raw**, **stagiing** e **refined** usando a biblioteca **OS**.

>**os.mkdir('nome_da_pasta')**

#### Tradução das colunas
- Para melhorar o entendimento do dataset traduzimos os nomes das tabelas usando a função do pandas:

>**rename(columns={'nome_coluna': 'novo_nome'})**

### Melhorando dados
####     Fórmulas utilizadas:
<ol>
Modificar valores nulos:

>**fillna()**

Resumir ou modificar para unificar em um tipo de valor:
>**replace()**

Identificar na coluna quantos valores nulos existem:
>**isna().sum()**

Identificar quais colunas tem valores nulos:
>**tabela.columns[tabela.isna().any()].tolist()**

Localizar valores para após substituir:
>**tabela.loc[lógica_condicional] = valor_à_subistituir**

1) Identificamos também que várias colunas possuiam valores NaN, logo foi necessário substitui-los por valores que façam sentindo e as regras utilizadas foram:

  
        Regras:

- >**Coluna 'idades'**:
 Substituímos os valores de idade NaN como 0.0

- >**Coluna 'tarifa'**:
 Substituímos os valores de idade NaN como 0.0

- >**Coluna 'cabine'**:
 Substituímos os valores de idade NaN como Não informado

- >**Coluna 'embarcado'**:
 Substituímos os valores de idade NaN como Não informado

- >**Coluna 'destino'**:
 Substituímos os valores de idade NaN como Não informado

- >**Coluna 'bote'**:
 Substituímos os valores de idade NaN como Não informado

2) Resumimos alguns valores que vaziam sentido serem resumidos como:

        Regras:
- >**Coluna 'sexo'**: Exemplo "Feminino" para "F"

- >**Coluna 'embarcado'**: Exemplo "Cherbourg" para "C"

3) Alguns valores precisavam de um trabalho mais elaborado como:

    **Sobreviventes:**

        Regras:
- > Sobreviventes não precisam de uma identificação de CORPO logo são subistituídos de NaN por "Sobrevivente"

- > Vítimas sem identificação de corpo são subistituídas de NaN para "Corpo não encontrado"

    **Nomes dos passageiros:**

        Regras:
- > Aplicada uma função que retira os títulos "Mr" ou "Mis" dos nomes e organiza o nome e sobrenome dos mesmos

### Carregando
A lógica utilizada para criação do Datawarehouse é em modelo estrela, estes salvos em formato .csv para posteriormente realizar a conexão com o banco de dados SQLite3 e para isso foi usada as funções:


**Separar tabelas fato e dimensão**

- > nova_tabela = tabela[['coluna1', 'coluna2', ...]]

**Salvar tabelas transformadas na pasta staging**
    
- > tabela.to_csv('path')

#### Conexão
A conexão é inicializada usando a função connect do SQLite3 e depois as mudanças são commitadas e a conexão concluída.

**Conexão**

- > sqlite3.connect('db_name')

**Escrita no banco**

- > to_sql('table_name', conexão)

**Commit**

Essa função serve para comprometer a mudança pois o python não o faz automaticamente
- > commit()

**Close**

Termina a conexão para o programa não fique com a conexão aberta após a execução
- > close()